@model IEnumerable<ECommerce.Models.Entities.Item>

@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
    ViewData["Title"] = "Home Page";
}

<header class="row tm-welcome-section">
    <h2 class="col-12 text-center tm-section-title">Добро пожаловать!</h2>
    <p class="col-12 text-center">Сюда вставить описание фирмы. Далее идет случайный текст. Идейные соображения высшего порядка, а также сложившаяся структура организации играет важную роль в формировании соответствующий условий активизации.</p>
</header>



    <!-- Gallery -->
    <div class="row tm-gallery">


        <div id="tm-gallery-page-pizza" class="tm-gallery-page">

            @foreach (var item in Model)
            {
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src=@item.Picture alt="Image" width="250px" height="100%" />
                        <figcaption>
                            <h4 class="tm-gallery-title">@item.Name</h4>
                            <p class="tm-gallery-description">@item.ShortDescription</p>
                            <p class="tm-gallery-price">$@item.Cost</p>
                        </figcaption>
                    </figure>
                </article>
            }        



        </div> <!-- gallery page 1 -->
        <!-- gallery page 2 -->
    </div>
    <div class="tm-section tm-container-inner">
        <div class="row">
            <div class="col-md-6">
                <figure class="tm-description-figure">
                    <img src="~/img/img-01.jpg" alt="Image" class="img-fluid" />
                </figure>
            </div>
            <div class="col-md-6">
                <div class="tm-description-box">
                    <h4 class="tm-gallery-title">Заказать товар</h4>
                    <p class="tm-mb-45">Redistributing this template as a downloadable ZIP file on any template collection site is strictly prohibited. You will need to <a rel="nofollow" href="https://templatemo.com/contact">talk to us</a> for additional permissions about our templates. Thank you.</p>
                    <a href="https://wa.me/<3754473845>" class="tm-btn tm-btn-default tm-right">Напишите Нам</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/parallax.min.js"></script>
 
